doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bienes Raices | 
    link(rel="stylesheet", href="/css/app.css")
  body.min-h-scren.bg-gray-100

    main(class="mx-auto container mt-6 px-2")
      block contenido